<%= render "shared/remote_modal", title: "Available Cities" do %>

    <ul class="list-group mb-5">
      <% @cities.each do |city| %>
        <li class="list-group-item"><%= link_to city.city, city_path(city), data: { turbo_frame: "remote_modal" } %></li>
      <% end %>
    </ul>

    <h2><%= link_to 'Back', root_path , class: "btn btn-primary "%></h2>z
    
<% end %>
